<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h2>Register</h2>
    <form action="/api/auth/register" method="POST">
      <div>
        <label for="username1">Username</label>
        <input id="username1" name="username" type="text" />
      </div>
      <div>
        <label for="password1">Password</label>
        <input id="password1" name="password" type="password" />
      </div>
      <input type="submit" value="Register" />
    </form>

    <br />

    <h2>Login</h2>
    <form action="/api/auth/login" method="POST">
      <div>
        <label for="username2">Username</label>
        <input id="username2" name="username" type="text" />
      </div>
      <div>
        <label for="password2">Password</label>
        <input id="password2" name="password" type="password" />
      </div>
      <input type="submit" value="Login" />
    </form>

    <br />

    <h2>User</h2>
    <a href="/api/auth/user"><button>See user</button></a>

    <br />

    <h2>Logout</h2>
    <form action="/api/auth/logout" method="GET">
      <input type="submit" value="Logout" />
    </form>
  </body>
</html>
